*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::before{
    content: '';
    background: #535971;
    height: 436px;
    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background: #535971;
}
header{
    margin-top: 140px;
    height: 113px;
    width: 417px;
}
.page{
    
    height: 1084px;
    width: 750px;
    margin:auto;

    margin-bottom: 480px;
}

header h1{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    
    color: #000000;
}

header p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}

form{
    margin-top: 60px;
    padding: 64px;

    min-height: 500px;
    width: 750px;
    left: 345px;
    top: 320px;
    border-radius: 20px 20px 0px 0px;

    background: #E6E6F0;
}
fieldset{
    border: none;
}
span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;


    color: #C1BCCC;
}
form fieldset legend{
    
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;

    color: #535971;
    border-bottom: 1px solid #ffffff ;
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 36px;
}

input, label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #4E4958;

}

.col-2{
    display: flex;
    gap: 22px;
}

.input-wraprer input{
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    width: 300px;
    padding: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.input-outside input{
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    width: 100%;
    padding: 12px;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.outside legend{
    margin-top: 32px;
}
.fieldset-col-3{
    margin-top: 30px;
}
.primeiro legend{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;


    color: #535971;
    border:none;
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 2px;
}
.col-3{

    display: flex;
    gap: 32px;
}

.input-time input{
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    width: 140px;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.col-2-3{
    display: flex;
    gap: 10px;
}

.segunda legend{
    margin-top: 16px;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    /* identical to box height, or 170% */


    color: #535971;
    border:none;
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 5px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #535971;
    width: 750px;
    height: 160px;
    padding: 40px 60px;
    border-radius: 0px 0px 20px 20px;
    border-top: 2px solid #FAFAFC;
    
    
    margin-bottom: 100px;
}

.buttonCenter{
    height: 55.65px;
    border: none;
    background: #FF5374;
    border-radius: 20px;

    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;
    
}

.buttonCenter:hover{
    background: #bc3d57;
    cursor: pointer;
    
}
